<b-container class="content">
  <b-alert show variant="primary">
    <b-row>
      <b-col cols="1"> Counter:
        <b-form-select v-model="selected" :options="options" class="mb-3" />
      </b-col>
      <b-col cols="1"> Draw No:
        <b-form-input v-model="text1" type="text" placeholder=""></b-form-input>
      </b-col>
    </b-row>
  </b-alert>
  <b-table striped hover :items="items" :fields="fields">
    <b-row class="text-center" slot="name" slot-scope="row">
      <b-col cols="12">
        {{row.value.first}} {{row.value.last}}
      </b-col>
    </b-row>
  </b-table>
</b-container>